#search{
    border: 0;
    border-radius: 0;
    height: 2.9rem;
}

input{
    height: 100%;
}

.header{
    display:flex;
    justify-content: space-between;
    width: 99vw;
}

a{
    cursor: pointer;
}