.logojs {
    width: 35rem;
    margin-left: 2em;
    box-shadow: 5px 5px 5px black;
}

.grid-container {
    margin-top: 50px;
    columns: 2;
}

h1 {
    color: white;
    margin-right: 15%;
    margin-left: 15%;
    text-align: center;
}

p {
    color: white;
    padding: auto;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    font-size: 30px;
}

.text {
    margin-right: 10em;
    justify-content: center;
    margin-top: 5%;
}

.btn_entrar {
    margin-top: 50px;
    padding: auto;
    width: 30%;
}

.container {
    background-color: #222222;
    border-radius: 10px;
    padding: 20px;
}

@media only screen and (max-width: 1448px) {
    .text {
        align-content: center;
    }
    .grid-container {
        columns: 1;
        text-align: center;
    }
    .btn_entrar {
        padding: auto;
    }
    body {
        align-content: center;
    }
    .logojs {
        left: 50%;
    }
    .container {
        left: 50%;
        margin-left: 7%;
    }
}