<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bem-vindo!</title>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/landing.css">
    </head>
    <body>
        <div class="grid-container">
            <img class="logojs" src="img/logo.png">
            <div class="text">
                <h1>Curso JavaScipt</h1>
                <br>
                <h2>Com este treinamento você será capaz de desenvolver seus códigos javascript para sites e sistemas que rodam no browser.</h2>
                <br>
                <h3>O objetivo é fazer você conseguir testar seu código em tempo real. Se quer aprender tudo de javascript, está no lugar certo.</h3>
                <div>
                    <button style="width: 20%;" class="btn_entrar" type="submit">Logar</button>
                </div>
            </div>
        </div>
    </body>
</html>